.h1-xl {
    font-size:100px;
  }

  .inline-block {
    display:inline-block
  }

  .block {
    display: block;
  }

  .flexbox{
    display:flex;
  }

.red-border {
  border : 1px solid red;
}

.green-border {
  border : 1px solid green;
}

.blue-border {
  border: 1px solid blue;
}

.round-border {
  border-radius: 15px;
}

.padding-15px {
  padding: 15px;
}

.margin-0px {
  margin: 0px;
}

.trio {
  width: 30%;
  margin: 1%;
}

.menu-title {
  background : #995555;
  color: white;
  font-weight : bold;
  height: 3em;
}

.content-title {
  background : #cc5555;
  color: white;
  font-weight : bold;
  height: 3em;
}